<h1>Create Robots Here</h1>
<%= form_for :robot, url: robots_path do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@robot.errors.count, "error") %> prohibited
        this robot from being saved:
      </h2>
      <ul>
        <% @robot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :special_attribute %><br>
    <%= f.text_area :special_attribute %>
  </p>

  <p>
    <%= f.label :speed, 'Speed in miles-per-hour' %><br>
    <%= f.text_area :speed %>
  </p>

  <p>
    <%= f.label :size %><br>
    <%= f.text_area :size %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p>
  <%= link_to 'Back', robots_path, :class => 'options' %>
</p>
